/* index.html */
body {
  min-height: 75rem;
  padding-top: 7rem;
  font-family: 'JetBrains Mono', monospace;
  /* font-family: 'Open Sans', sans-serif; */
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

a {
  color: white;
  font-size: 30px;
}

.fa-check-circle {
  color: #28a745;
}

#new-person-form label {
  margin-top:10px;
}

/* our styles */
.hide {
  display: none;
}

.jumbotron {
  padding: 2rem;
}

.avatar {

  /* make a square container */
  width: 100px;
  height: 100px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
  background-color: white;
}

.avatar-male {
  background-image: url("img/avatar_male.png");
}

.avatar-female {
  background-image: url("img/avatar_female.png");
}

nav .avatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

nav .menu {
  width: 200px;
  height: 100px;
  background-color: red;
  position: absolute;
  right: 0;
  top: 4.5em;
}

.container-fluid {
  /* background-color: greenyellow; */
}

.white-label {
  color: white;
}

.vaccine-card {
  background-color: #c4c4c4;
  border-radius: 25px;
}

.progress-span {
  position: absolute;
  right: -20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.add-btn {
  border: 4px dashed #2d9cdb;
  color: #2d9cdb;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 180px;
  text-transform: uppercase;
}

.add-btn:hover {
  border-color: black;
}

.vaccine__item:hover {
  cursor: pointer;
  background-color: lightblue;
}

.vaccine__item {
  font-size: 20px;
  border-radius: 15px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.deactivated {
  color: grey;
}












/* collection_list.html */

.collection__article {
  position: relative;
}

.collection__article:hover {
  cursor: pointer;
}

.collection__article:active {
}

.collection__container {
  width: 100%;
  position: absolute; 
  
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px #000000;
  margin-bottom: 20px;
}

.collection__container:active {
  top: 10px;
  left: 10px;
  box-shadow: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.collection__container::after {
  clear: both;
}


/* navbar.html */
.dropdown-item i {
  margin-right: 10px;
}

#nav-user a:hover {
  color: gray;
}





/* collection_detail.html */

.collection__breakline {
  height: 10px;
  background-color: darkslategray;
  margin: 50px 30px;
  border-radius: 5px;
}

.сollection_detail__save {
  margin: 30px;
  margin-left: 0;
}