<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class="custom-select custom-select-lg mb-3" id="vaccine-select">
          <option selected>Выберите вакцину</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <label for="vaccine-date">Дата вакцинации</label>
        <input id="vaccine-date" type="date" class="form-control"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Удалить</button>
        <button type="button" class="btn btn-primary" id="save-person-vaccine">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>
<script>
      var title, disease_id, person_vaccine_id;
      $('#save-person-vaccine').on('click', function() {
        var selectVal = $("#vaccine-select").val();
        var dateVal = $('#vaccine-date').val();

        $.post('api/person-vaccine/' + person_vaccine_id + '/', {
          selectVal,
          dateVal,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        });
      });

      $('.vaccine__item').on('click', function (event) {
        title = this.getAttribute('disease-name');
        disease_id = this.getAttribute('disease-id');
        vaccine_id = this.getAttribute('vaccine-id');
        person_vaccine_id = this.getAttribute('person-vaccine-id');
        date = this.getAttribute('person-vaccine-date');

        $title = $('#exampleModalLabel');
        $title.text(title);

        $date = $('#vaccine-date');
        $date.val(date);

        $.get("/api/disease/" + disease_id).done(function (data) {
          var $select = $("#vaccine-select");
          console.log(data);
          $select.empty();
          $select.append($("<option />").text("Выберите вакцину"));
          $.each(data, function() {
              $select.append($("<option />").val(this.vaccines).text(this.vaccines__name));
          });
          $select.val(vaccine_id);
        }); 
      })
</script>