{% extends 'base.html'%}
{% load static %}


{%block content%}
<main class="settings-container d-flex">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush" style="margin-top: 100px;">
        <a href="#" class="list-group-item list-group-item-action bg-light" data-id="profile">Профиль</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" data-id="notifications">Уведомления</a>
        <a href="#" class="list-group-item list-group-item-action bg-light disabled" data-id="export">Экспорт данных</a>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="settings_view settings_profile">
            <h1>Участники</h1>
            <div class="row">
            <table class="table person-table col-md-10" style="min-width:800px;">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Пол</th>
                    <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {%for person in person_list%}
                    <tr>
                        <th scope="row" style="vertical-align: middle;">{{forloop.counter}}</th>
                        <td><input type="text" value="{{person.name}}" person-id="{{person.pk}}" class="person-name form-control"></input></td>
                        <td><input type="date" value="{{person.dateofbirth | date:"Y-m-d" }}" person-id="{{person.pk}}" class="person-birth-date form-control"></input></td>
                        <td>
                        <select person-id="{{person.pk}}" class="person-sex form-control">
                            <option value="M" {%if person.sex == 'M'%} selected {%endif%}>Male</option>
                            <option value="F" {%if person.sex == 'F'%} selected {%endif%}>Female</option>
                        </select>
                        
                        </td>
                        <td><button class="btn btn-danger" person-id="{{person.pk}}">Удалить</button></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </div>
        </div>
    
        <div class="hide settings_view settings_notifications">
            <h1 class="mt-4">Заглушка</h1>
        </div>
    </div>
</main>
<script>
// показываю и скрываю меню
$('.list-group a').click(function() {
    var data_id = this.getAttribute('data-id');
    $('.settings_view').addClass('hide');
    switch(data_id) {
        case 'profile':
            $('.settings_profile').removeClass('hide');
            break;
        case 'notifications':
            $('.settings_notifications').removeClass('hide');
            break;
    }
});

// редактирование имени
$('.person-table .person-name').on('input', function(event) {
    var new_name = $(this).val();
    if (new_name !== '') {
        var person_id = this.getAttribute('person-id');
        var data = {
            name: new_name,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };
        $.post('/api/person/' + person_id + '/', data);
    }
});

// редактирование даты
$('.person-table .person-birth-date').on('input', function(event) {
    var date = $(this).val();
    var typedDate = new Date(date);
    var lowLimitDate = new Date('1900-01-01');
    var highLimitDate = Date.now();
    if (typedDate > lowLimitDate && typedDate < highLimitDate) {
        var person_id = this.getAttribute('person-id');
        var data = {
            date: date,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };
        $.post('/api/person/' + person_id + '/', data);
    }
});

// редактирование пола

// удаление
</script>
<style>
body {
  overflow: hidden;
}


</style>
{%endblock%}